
body {
    font-family: 'Cinzel', serif; 
    color: #000000; 
    line-height: 1.2; 
    padding-top: 120px; 
    
}

/* Cabeçalho */
.wiki-header {
    background: linear-gradient(135deg, #221313, #f9ecec);
    color: #090202;
    padding: 70px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(0); 
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0); 
    }
}

.wiki-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.wiki-header .skyrim-logo {
    width: 80px; 
    height: auto;
    transition: transform 0.3s ease; 
}

.wiki-header .skyrim-logo:hover {
    transform: scale(1.1); 
}

.wiki-header h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.wiki-header p {
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Cinzel', serif;
}

/* Tela de Loading */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loading-logo {
    width: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Links das cidades */
.city-links {
    background-color: #d7d7d7;
    padding: 30px 20px;
    margin-top: 120px;
    color: #3c0404;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(253, 253, 253);
}

.city-links h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.city-links ul {
    list-style-type: none;
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    
}

.city-links ul li {
    display: inline-block; 
}

.city-links ul li a {
    color: #790000;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    transition: color 0.3s ease;
    font-family:'Cinzel', serif;
}

.city-links ul li a:hover {
    color: #10040b;
    text-decoration: underline;
}

/* Estilo do conteúdo */
main .content-box {
    background-color: #341c1c; 
    padding: 50px; 
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, #b3a7a7, #ffffff);
    border-left: 6px solid #1a1a1a;
    overflow: hidden;
    font-family: 'Cinzel', serif; 
}

.content-box:hover {
    transform: translateY(-8px); 
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25); 
}

.content-box h2 {
    font-size: 2.2em; 
    margin-bottom: 30px; 
    font-weight: 700;
    color: #590000;
    letter-spacing: 2px; 
    text-transform: uppercase;
    border-bottom: 4px solid #0c0b08; 
    padding-bottom: 15px; 
}

.content-box ul {
    list-style-type: none;
    padding-left: 0;
}

.content-box ul li {
    margin: 25px 0; 
    font-size: 1.3em; 
    color: #060101;
    line-height: 1.0; 
}

.content-box ul li strong {
    color: #000;
    font-weight: bold;
}


/* Rodapé */
footer {
    background-color: #0a0a0a; 
    color: #fff; 
    text-align: center;
    padding: 20px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5); 
    font-family: 'Cinzel', serif; 
}

footer p {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
}

@media (max-width: 768px) {
    footer {
        padding: 15px; 
    }

    footer p {
        font-size: 1em; 
    }
}
